<footer class="footer col-xs-12 navbar justify-content-center">
    <a>&#9400 CmsShoppingCart</a>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
<!--ckeditor-->
<script type="text/javascript" src="/javascripts/ckeditor/ckeditor.js"></script>
</body>

</html>