<% include ../../partials/header %>
<div class="container">
    <h1>Pages</h1>
    <a class="btn btn-primary" href="pages/add">Add a new page</a>
    <div class="container-fluid">
    </div>
    <table class="table table-striped container" id="tab-table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="sortable">
            <tr  class="ui-state-default">
                <td>Home</td>
                <td><a href="AddPage.html">Edit</a></td>
                <td></td>
            </tr>
            <tr  class="ui-state-default">
                <td>About Us</td>
                <td><a href="AddPage.html">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr  class="ui-state-default">
                <td>Services</td>
                <td><a href="AddPage.html">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
<% include ../../partials/footer %>