<% include ../../partials/header %>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">CmsShoppingCart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="Pages.html" id="tabPages">Pages<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" id="tabCategories">
                        <a class="nav-link" href="../Categories/Categories.html">Categories</a>
                    </li>
                    <li class="nav-item" id="tabProducts">
                        <a class="nav-link" href="../Products/Products.html">Products</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log out</a>
                        </li>
                    </ul>
            </nav>
           
            </div>
    </nav>
</header>

<div class="container">
    <h1>Pages</h1>
    <a class="btn btn-primary" href="pages/add">Add a new page</a>
    <div class="container-fluid">
    </div>
    <table class="table table-striped container" id="tab-table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody id="sortable">
            <tr  class="ui-state-default">
                <td>Home</td>
                <td><a href="AddPage.html">Edit</a></td>
                <td></td>
            </tr>
            <tr  class="ui-state-default">
                <td>About Us</td>
                <td><a href="AddPage.html">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            <tr  class="ui-state-default">
                <td>Services</td>
                <td><a href="AddPage.html">Edit</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>
<% include ../../partials/footer %>